* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

.label {
    display: block;
    margin: 12px 0px 4px 0px;
}

.input {
    width: 100%;
    padding: 6px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1b1b32;
    background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.title {
    margin-top: 64px;
    max-width: 720px;
}

#title {
    font-size: 32px;
    margin-bottom: 8px;
    color: #f3f3f3;
    font-weight: 600;
    text-align: center;
}

#description {
    font-size: 18px;
    font-style: italic;
    color: #f3f3f3;
    font-weight: 400;
    text-align: center;
}

.container {
    margin-top: 24px;
    width: 720px;
    background-color: rgba(27, 27, 50, 0.8);
    border-radius: 5px;
}

#surver-form {
    padding: 40px;
    color: #f3f3f3;
    font-size: 18px;
    font-weight: 500;
}

#name-label {
    margin-top: 0px;
}

.checkbox, .radio {
    margin-bottom: 8px;
}

.input-comment {
    max-width: 100%;
}

.submit-button {
    margin: 16px 0px;
    width: 100%;
    background-color: #37af65;
    color: #f3f3f3;
    font-weight: 500;
    padding: 16px;
    font-size: 16px;
    border-radius: 2px;
    border: none;
}

@media (max-width: 768px) {
    .container {
      max-width: 560px;
    }
    #title {
        font-size: 24px;
    }
    
    #description {
        font-size: 14px;
    }
  }